<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="tesso.css"/>
	<title>Log | tesso</title>
</head>
<body>
<div id="container">
<div id="content_container">
	<div id="content">
	<h1><a href="users.rb">Users</a> | Logs</h1>

<table cellspacing="0">
	<% logs.each_with_index do |log, i| %>
	<tr class="parity<%= (i%2).to_s %>">
		<td><%= log %></td>
	</tr>
	<% end %>
</table>
</div>
</div>

<div id="footer">
	<strong>Nexis Koyo Corp.</strong>
	<a href="http://www.do-koyo.co.jp/">Home</a>
	<a href="help.html">Help</a>
</div>

</body>
</html>